.Rproj.user/
.Rhistory
.RData
.Ruserdata
proj_optimize.Rproj
.DS_Store
_publish.yml
.DS_Store

# qualtrics panel study files
all_generated_messages.csv
TODO
*.api
*.pyc

# prism files
prism/config/study_coordinators.csv
prism/config/study_participants.csv
prism/logs
prism/data